.column {
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#c1 {
    background-color: limegreen;
}

#c2 {
    background-color: coral;
}

#c3 {
    background-color: gold;
}

#c4 {
    background-color: plum;
}

body {
    margin: 0;
    display: flex;
}

