table {
    margin: 1em auto;
    border-collapse: collapse;
}

th {
    font-weight: normal;
}

td, th {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
}
tbody > tr:nth-child(odd) > td:nth-of-type(odd), 
tbody > tr:nth-child(even) > td:nth-of-type(even) {
    background-color: white;
}

tbody > tr:nth-child(odd) > td:nth-of-type(even), 
tbody > tr:nth-child(even) > td:nth-of-type(odd) {
    background-color: lightgray;
}

tbody > tr:first-child > td {
    border-top: medium solid black;
}

tbody > tr:last-child > td {
    border-bottom: medium solid black;
}

tbody > tr > td:first-of-type {
    border-left: medium solid black;
}

tbody > tr td:last-of-type {
    border-right: medium solid black;
}