movies{
    display: block;
    border-radius: 0.5em;
    width: fit-content;
    padding: 0.5em;
    margin: 1em;
}
artist, album > title, year {
    font-size: x-large;
    display: inline-block;
    margin-bottom: 0.5em;
}
year::before{
    content: "(";
}
year::after{
    content: ")";
}
movie{
    display: list-item;
    list-style-type: disc;
}

title{
    display: none;
}

title:lang(en){
    display: block;
}
