body {
    margin: 0;
    background-color: cornflowerblue;
}

body, html {
    height: 100%;
}

.box {
    height: 25%;
    width: 25%;
    position: relative;
}

#b1 {
    background-color: limegreen;
}

#b2 {
    background-color:  coral;
    left: 50%;
    top: 25%;
}

#b3 {
    background-color: gold;
    left: 25%;
    bottom: 25%;
}


#b4 {
    background-color: plum;
    left: 75%;
}